.env
venv/
__pycache__/
*.pyc
output/
output_original/
output_varianced/
snomed_mapped
output_2/
nha_data/
filled_bundles_validated/
fhir_v6/
anonymized_fhir_bundles_sep22/
converted_anonymized_fhir_bundles_sep22/
fhir_legacy_bundles/
